$-clr-light-cyan: hsl(193, 38%, 86%);
$-clr-neon-green: hsl(150, 100%, 66%);
$-clr-grayish-blue: hsl(217, 19%, 38%);
$-clr-dark-grayish-blue: hsl(217, 19%, 24%);
$-clr-dark-blue: hsl(218, 23%, 16%);

$light: (
  "neutral": (
    "400": $-clr-grayish-blue,
    "700": $-clr-dark-grayish-blue,
    "900": $-clr-dark-blue,
  ),
  "primary": (
    "100": $-clr-light-cyan,
    "400": $-clr-neon-green,
  ),
);

// contextual color tokens
$color-neutral-400: var(--neutral-400);
$color-neutral-700: var(--neutral-700);
$color-neutral-900: var(--neutral-900);

$color-primary-100: var(--primary-100);
$color-primary-400: var(--primary-400);
