$-ff-sans: "Manrope", sans-serif;

$font-family-base: $-ff-sans;

$font-sizes: (
  "small": (
    "700": 1.5rem,
    "200": 0.688rem,
  ),
  "large": (
    "700": 1.75rem,
    "200": 0.813rem,
  ),
);

$font-size-200: var(--fs-200);
$font-size-700: var(--fs-700);

$-fw-800: 800;

$font-weight-extra-bold: $-fw-800;
